<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SocialFlow Auth Complete</title>
        <style>
            body {
                color: #111111;
                font-family:sans-serif;
            }
            .container {
                width:90%;
                margin:auto;
            }
        </style>
    </head>
    <body>
        <div class="container">
        <h1>Authorization Complete</h1>
        <p>The Oauth handshake is complete.</p>
        <p>Your Access token is <code>{{ access_token }}</code></p>
        <p>Your Access token secret is <code>{{ access_token_secret }}</code></p>
    </div>
    </body>
</html>
